<!DOCTYPE html>
<html ng-app="summaryApp">
<head>
<meta charset="UTF-8"></meta>
<title>Summary</title>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/assets/css/styles.css"/>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body ng-controller="SummaryController as itemCtrl">
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-resource.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.min.js"></script>
	<script src="js/summaryApp.js"></script>
	
	<div ng-include="'navbar.htm'"></div>
        
    <div class="container">
        <div class="row">
		  	<div class="col-sm-12 col-md-8" ng-if="itemCtrl.items.length > 0">  	
			  	<div>
				  	<h2>Out of date items summary:</h2>
				  	<input type="text" placeholder="Search..." ng-model="search"/>
				  	<br></br>
				  	<table class="table table-striped summary_table">
			            <thead>
			            <tr>
			                <th ng-click="itemCtrl.sort('date')">Date end</th>
			                <th ng-click="itemCtrl.sort('descShort')">Short description</th>
			                <th ng-click="itemCtrl.sort('status')">Status</th>
			                <th>Details</th>
			                <th>Switch to complete</th>
			                <th>Delete aim <span><i class="fa fa-frown-o" aria-hidden="true"></i></span></th>
			            </tr>
			            </thead>
			            <tbody>
			            <tr ng-repeat="item in itemCtrl.items | filter:search | orderBy:itemCtrl.sortt">
			                <td>{{item.date | date:'yyyy-MM-dd'}}</td>
			                <td>{{item.descShort}}</td>
			                <td>{{item.status}}</td>
			                <td>
			                	<a ng-href="#!details/{{item.id}}">Details</a>
							</td>
			                <td>
			                	<button class="btn btn-default btn-block" ng-click="itemCtrl.update(item.id)">Complete</button>
			                </td>
			                <td>
			                	<button class="btn btn-important btn-block" ng-click="itemCtrl.remove(item.id)">Remove</button>
			                </td>
			            </tr>
			            </tbody>
			        </table>
		        </div>   	
		    </div>
		    <div class="col-sm-12 col-md-8" ng-if="itemCtrl.items.length == 0">
	        	<h2>You have no outdated items. Way to go!</h2>
        	</div>
		    <div class="col-sm-12 col-md-4">
		    	<div ng-view=""></div>
	  			<h2>Tips:</h2>
	  			<h4>1. If your goal expired, achieve it in next 3 days.</h4>
	  			<h4>2. Don't remove your aims - don't be shy, never give up, do your best, win.</h4>
	  		</div>
		</div>
	</div>
	
	<div ng-include="'footer.htm'"></div>
	
</body>
</html>